doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="shortcut icon", href="/img/cost_icon.svg", type="image/png")
      title Farmicon | #{title?title:"Welcome to the Farmicon"}
      link(href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet")
      script(src="/js/backToTop.js" defer)
      link( rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="anonymous")
      script( src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="anonymous" defer)
      script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js") 
      script(src="https://js.stripe.com/v3/ " defer)
      script(src="/js/index.js" type="module" defer)
    body
    include _header
    block content
      h1 this is content holder
    include _footer