extends base

block content
  main( class="main")
    .card-container
      each product in products
        .card
          .card__header
            .card__picture
              a(href=`products/${product._id}`) 
                img.card__picture-img(src=`img/product/${product.imageUrl}`, alt=`${product.name}`)
          .card__details
            h4.card__sub-heading= product.name
            p.card__text= product.summary
          .card__footer
            p
              span.card__footer-value Giá: #{product.price} đ
            p.card__ratings
              svg.reviews__star.reviews__star--active
               use(xlink:href='/img/icons.svg#icon-star-rating')
              svg.reviews__star.reviews__star--active
               use(xlink:href='/img/icons.svg#icon-star-rating')
              svg.reviews__star.reviews__star--active
               use(xlink:href='/img/icons.svg#icon-star-rating')
              svg.reviews__star.reviews__star--active
               use(xlink:href='/img/icons.svg#icon-star-rating')
              svg.reviews__star.reviews__star--inactive
               use(xlink:href='/img/icons.svg#icon-star-rating')
            p.contain-btn
              a.btn.btn--green.btn--small(href=`products/${product._id}`)
                svg.card__icon
                  use(xlink:href='img/icons.svg#icon-shopping-cart')
              a.btn.btn--green.btn--small(href=`products/${product._id}`) Mua