extends ../profile
block forManage
  table(style='width:100%')
    tr
      th STT
      th Hình ảnh sản phẩm
      th Tên sản phẩm
      th Người đánh giá
      th Tên người đánh giá
      th Bình luận
      th Đánh giá
      th
      th 
    - let x =0;
    each review in reviews
      tr
        td= ++x
        td 
          img.product-img(src=`/img/product/${review.product.imageUrl}`)
        td= review.product.name
        td
          img.product-img(src=`/img/users/${review.user.photo}`)
        td= review.user.name
        td= review.review
        td= review.rating
        td
          a(class='btn btn--green btn--tiny' href=`/reviews/${review._id}`) Update 
        td 
          a(class='btn btn--red btn--tiny' id='delete' href=`/api/v1/productReview/${review._id}`) Delete
  script(src="/js/reviewHandler.js" type='module') 