extends ../profile
block forManage
  table(style='width:100%')
    tr
      th STT
      th Hình ảnh
      th Tên người dùng
      th Trạng thái
      th Role
      th 
      th 
    - let x =0;
    each user in users
      tr
        td= ++x
        td 
          img.product-img(src=`/img/users/${user.photo}`)
        td= user.name
        td= user.active
        td= user.role
        td
          a(class='btn btn--green btn--tiny' href=`/users/update/${user._id}`) Update 
        td 
          a(class='btn btn--red btn--tiny' href=`/users/delete/${user._id}`) Delete