extends ../profile
block forManage
  table(style='width:100%')
    tr
      th STT
      th Người đặt đơn
      th Thành tiền
      th Ngày lập hoá đợn
      th 
      th 
      th 
    - let x =0;
    each order in orders
      tr
        td= ++x
        td.no_upper= order.user.email
        td= order.totalPrice
        td= order.created_at.toLocaleDateString("vi-VN")
        td
          a(class='btn btn--green btn--tiny' href=`/products/orders/${order._id}`) Chi tiết 
        td
          a(class='btn btn--green btn--tiny' href=`/products/orders/${order._id}`) Update 
        td 
          a(class='btn btn--red btn--tiny' href=`/products/orders/${order._id}`) Delete