extends updateReview
block forManage 
  .user-view__content
    .user-view__form-container
      h2.heading-secondary.ma-bt-md= title
      div
        img.updateInfo(src=`/img/users/${doc.photo}`, alt="product image")
        label.form__label.updatePhotoUser(for='photo') Change avatar
        input#photo.form__upload.product.photo(type='file')
      form.form(class=`${doc?"formUpdateReview":"formAddReview"}`)
        .form__group
          label.form__label(for='name') Tên người dùng
          input#name.form__input.product(type='text' required name='name' value=`${doc?doc.name:""}`)
        .form__group
          label.form__label(for='email') Email
          input#email.form__input.product(type='email' required name='email' value=`${doc?doc.email:""}`)
        .form__group
          label.form__label(for='role') Role
          select#role.form__input.product
            option(value="user" ) User
            -if(doc.role == 'admin')
              option(value="admin" selected) Admin
            option(value="admin") Admin
        .form__group.right
          input#reviewId(type="hidden" value=`${doc?doc._id:""}`)
          button.btn.btn--small.btn--green= doc?"Cập nhật":"Thêm mới"
  script(src="/js/userHandler.js" type="module") 