extends updateReview
block forManage 
  .user-view__content
    .user-view__form-container
      h2.heading-secondary.ma-bt-md= title
      div
        img.updateInfo(src=`/img/users/${doc.photo}`, alt="user-image")
        label.form__label.updatePhotoUser(for='photo') Change avatar
        input#photo.form__upload.product.photo(type='file')
      form.form(class=`${doc?"formUpdateUser":"formAddUser"}`)
        .form__group
          label.form__label(for='name') Tên người dùng
          input#name.form__input.product(type='text' required name='name' value=`${doc?doc.name:""}`)
        .form__group
          label.form__label(for='email') Email
          input#email.form__input.product(type='email' required name='email' value=`${doc?doc.email:""}`)
        .form__group
          label.form__label(for='role') Role
          select#role.form__input.product
            option(value="user" ) User
            - if(doc.role == 'admin')
              option(value="admin" selected) Admin
            - else
              option(value="admin") Admin
        .form__group.inline
          span.form__label(for='active') Tình trạng
          if doc.active
            .active_radio
              input#active.form__input.product(type='radio' name='active' checked value='true')
              |Active
            .active_radio
              input#active.form__input.product(type='radio' name='active' value='false')
              |Unactive
          else 
            .active_radio
              input#active.form__input.product(type='radio' name='active' value='true')
              |Active
            .active_radio
              input#active.form__input.product(type='radio' name='active' checked value='false')
              |Unactive
        .form__group.right
          input#userId(type="hidden" value=`${doc?doc._id:""}`)
          button.btn.btn--small.btn--green= doc?"Cập nhật":"Thêm mới"
  script(src="/js/userHandler.js" type="module") 